body{
    margin: 0;
    min-height: 100vh;
}


.imagemLogo{
    width: 13%;
    height: 11%;
    position: absolute;
}

.iconLogin{
    width: 45%;
    height: 70%;
    margin-top: 10%;
    margin-left: 8%;
}

.conteiner{
    width: 100vw;
    height: 100vh;
}


.retangulo{
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    background-image: linear-gradient(#2FD6CB, #4A67DF);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    font-family: 'Montserrat', sans-serif;
    gap: 0px;
}

.top {
    color: rgb(255, 255, 255);
    font-size: 90px;
    letter-spacing: 5px;
    margin-top: 13%;
}

.cadastrar{
    padding-left: 33%;
}

.retangulo p{
    color: rgb(255, 255, 255);
    display: block;        
    font-size: 14px;
    text-align: left;       
    font-weight: bold;  
    letter-spacing: 1px;
    margin-top: -70px;
}

.texto{
    color: rgb(255, 255, 255);
    margin: 0%;
    padding-top: 5%;

    
}

.retangulo a{
    color: white;
}

.campo{
    width: 500px;
    height: 55px;
    border-radius: 10px;
    border-style: none;
    margin-top: 5px;
    font-size: 20px;
}

.formulario{
    padding-right: 155px;
    padding-bottom: 50px;
}

.linkRecuperar{
    padding-left: 35%;
}




.fade {
  opacity: 0;
  animation: fadeUp 1s ease-out forwards; /* deixa mais lento */
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: .4;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




