body{
    margin: 0;
    min-height: 100vh;
}


.imagemLogo{
    width: 13%;
    height: 11%;
    position: absolute;
}

.iconLogin{
    width: 45%;
    height: 70%;
    margin-top: 10%;
    margin-left: 8%;
}

.conteiner{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}


.retangulo{
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    background-image: linear-gradient(#2FD6CB, #4A67DF);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;    
    gap: 20px; 
    font-family: 'Montserrat', sans-serif;
}




.retangulo h1 {
    color: rgb(255, 255, 255);
    font-size: 90px;
    display: flex;
    letter-spacing: 5px;
    margin-top: 13%;
    
}

.retangulo p{
    color: rgb(255, 255, 255);
    display: block;        
    font-size: 14px;
    text-align: left;       
    font-weight: bold;  
    letter-spacing: 1px;
    margin-top: -70px;
}

.retangulo a{
     margin-top: -10px;
}

.conteiner label{
    color: rgb(255, 255, 255);
    display: block;        
    text-align: left;       
    font-weight: bold;  
}

.retangulo a{
    color: white;
}
