html,body{
    margin: 0;
    height: 0;
}


.imagemLogo{
    padding: 0;
    margin: 0;
    border: 0;
    width: 100px;
    height: 50px;
}

.iconLogin{
    width: 43%;
    height: 70%;
}

.conteiner{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.retangulo{
    width: 40%;
    height: 100%;
    background-image: linear-gradient(#2FD6CB, #4A67DF);

}

