@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #4A67DF;
}


.cabecario {
    background-color: rgba(255, 255, 255, 0.807);
    display: flex;
    justify-content: start;
}

.conteiner {
    width: 100%;
    height: 100vh;
}


.imagemLogo {
    width: 13%;
    height: 11%;
}

.pesquisar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputCampo {
    width: 100vh;
    padding: 10px 20px;
    border: 2px solid #4A67DF;
    border-radius: 50px;
    font-size: 1.2em;
    color: #4A67DF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #4A67DF;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
