@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
     overflow-x: hidden;
}

.cabecario {
    display: flex;
    justify-content: space-around;
}

.imagemLogo {
    width: 13%;
    height: 11%;
}

.icones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.coracaoFav,
.perfil {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.pesquisar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtro{
    margin-left: 1%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.inputCampo {
    width: 130vh;
    padding: 10px 20px;
    border: 2px solid #4A67DF;
    border-radius: 50px;
    font-size: 1.2em;
    color: #4A67DF;
}

.conteiner {
    width: 100%;
    height: 100vh;
}

.h1Favoritos{
    font-size: 60px;
    color: #4A67DF;
    display: flex;
    justify-content: end;
    padding-right: 16%;
    text-shadow: 0 3px 6px rgba(0,0,0,0.3);
    padding-top: 3%;
}


.retangulo{
    width: 1500px;
    height: 100%;
    background-image: linear-gradient(#2fd6cb6b, #4a68df60);
    border-radius: 30px;
}

.retanguloMain{
    display: flex;
    justify-content: center;
}

.manga{
    width: 230px;
    height: 350px;
    border-radius: 30px;
}

.nomesMangas{
    font-size: 13px;
    display: flex;
    align-self: end;
    justify-content: space-around;
    color: #4A67DF;
    padding-top: 1%;
     
}

.coracaoPreenchido{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.apenasMangas{
    align-self: start;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    gap: 150px;
    
}

.exibirLivros{
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cardLivro {
    width: 340px;
    height: 460px;
    display: flex; 
    justify-content: center;
} 

.cabecarioPerfil{
    display: flex;
    justify-content: center;
}

