@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
     overflow-x: hidden;
}

.cabecario {
    display: flex;
    justify-content: space-between;
}

.imagemLogo {
    width: 13%;
    height: 11%;
}

.icones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.coracaoFav,
.perfil {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.h1Favoritos{
    font-size: 60px;
    color: #4A67DF;
    display: flex;
    justify-content: end;
    padding-right: 16%;
}


.retangulo{
    width: 1500px;
    height: 900px;
    background-image: linear-gradient(#2fd6cb6b, #4a68df60);
    border-radius: 30px;

}

.retanguloMain{
    display: flex;
    justify-content: center;
}

.manga{
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.nomesMangas{
    font-size: 13px;
    display: flex;
    align-self: end;
    justify-content: space-around;
    color: #4A67DF;
    padding-top: 1%;
}

.coracaoPreenchido{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.apenasMangas{
    align-self: start;
    display: flex;
    justify-content: space-around;
}

.exibirLivros{
    padding-top: 5%;
}

