@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
     overflow-x: hidden;
}

.cabecario {
    background-color: rgba(255, 255, 255, 0.807);
    display: flex;
    justify-content: space-around;
}

.imagemLogo {
    width: 13%;
    height: 11%;
}

.icones {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 1%;
}

.coracaoFav{
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.perfil {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.perfil:hover {
    transform: scale(1.15);
}

.coracaoFav:hover {
    transform: scale(1.15);
}

.filtro:hover {
    transform: scale(1.15);
}

.filtro{
    margin-left: 1%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.pop-up-filtro {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: start;
    justify-content: center;
    z-index: 1000;
    padding-top: 100px;
    padding-left: 500px;
}

.pop-up-filtro.show {
    display: flex;
}

.filtro-pop {
    background: white;
    padding: 20px;
    border-radius: 10px;
    
    width: 60%;
    height: 20%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    
}


.pesquisar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputCampo {
    width: 100vh;
    padding: 10px 20px;
    border: 2px solid #4A67DF;
    border-radius: 50px;
    font-size: 1.2em;
    color: #4A67DF;
}

.conteiner {
    width: 100%;
    height: 100vh;
}

.h1Favoritos{
    font-size: 60px;
    color: #4A67DF;
    display: flex;
    justify-content: end;
    padding-right: 16%;
    text-shadow: 0 3px 6px rgba(0,0,0,0.3);
    padding-top: 3%;
}


.retangulo{
    width: 1500px;
    height: 100%;
    background-image: linear-gradient(#2fd6cb6b, #4a68df60);
    border-radius: 30px;
}

.retanguloMain{
    display: flex;
    justify-content: center;
}

.livro{
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.nomesLivros{
    margin-top: 3%;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    color: #4A67DF;
    text-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.coracaoPreenchido{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.apenasMangas{
    align-self: start;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    gap: 150px;
    
}

.exibirLivros{
    padding-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: flex;
    justify-content: center;
}

.cardLivro {
    padding: 4%;
} 

.pop-up-perfil {
    position: fixed;    
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: right;
    z-index: 1000;
}

.pop-up-perfil.show{
    display: flex;
}

.perfil-pop {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    height: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

}

.cabecarioPerfil{
    display: flex;
    justify-content: center;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.fotoPerfil{
    width: 10vw;
    height: 20vh;
    
}
.divFotoPerfil{
    display: flex;
    justify-content: center;
}

.divNomePessoa{
    display: flex;
    justify-content: center;    
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.divConfig{
    margin-top: 20%;
    display: flex;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    color:#4A67DF
}

.divInfoPerfil{
    margin-left: 4%;
    margin-top: 8%;
    cursor: pointer;
    transition: transform 1.5s ease;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.divMeusFavoritos{
    margin-left: 4%;
    margin-top: 4%;
    cursor: pointer;
    transition: transform 1.5s ease;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.divModo{
    margin-left: 4%;
    margin-top: 4%;
    cursor: pointer;
    transition: transform 1.5s ease;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.divTermosEPrivacidade{
    display: flex;
    margin-top: 14%;
    color:#4A67DF;
    transition: transform 1.5s ease;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.divPrivacidade{
    margin-left: 4%;
    margin-top: 4%;
    cursor: pointer;
    transition: transform 1.5s ease;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.divTermo{
    margin-left: 4%;
    margin-top: 8%;
    cursor: pointer;
    transition: transform 1.5s ease;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.fav{
    text-decoration: none;
    color: black;
    
}

a:hover{
    color: #4A67DF;
}