body {
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.cabecario {
    display: flex;
    justify-content: space-between; 
    width: 100vw;
}

.imagemLogo {
    width: 13%;
    height: 11%;
}

.icones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.coracaoFav,
.perfil {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.pesquisar {
    flex: 1;
    display: flex;
    align-items: center;
}

.inputCampo {
    display: flex;
    margin: 0 auto 20px auto;
    width: 200%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 0px;
    border: 3px solid #4b89d3;
    border-radius: 50px;
    font-size: 1.2em;
    color: #000000;
    /* Texto escuro */
    text-shadow: none;
    /* Sem sombra no input */

}

.conteiner {
    width: 100vw;
    height: 100vh;

}

main h1 {
    color: #4A67DF;
    font-size: 50px;
    display: flex;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.exibirLivros {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    opacity: 50%;
    
}

.manga{
    width: 330px;
    height: 500px;
    border-radius: 20px;
}
.cardLivro {
    width: 362px;
    height: 524px;
    background-image: linear-gradient(#2FD6CB, #4A67DF);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    
} 