@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.cabecario {
    display: flex;
    justify-content: space-around;
}

.imagemLogo {
    width: 13%;
    height: 11%;
}

.icones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.coracaoFav,
.perfil {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.filtro {
    margin-left: 1%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.pesquisar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputCampo {
    width: 130vh;
    padding: 10px 20px;
    border: 2px solid #4A67DF;
    border-radius: 50px;
    font-size: 1.2em;
    color: #4A67DF;
}

.conteiner {
    width: 100%;
    height: 100vh;
}

main h1 {
    font-family: 'Montserrat', sans-serif;
    color: #4A67DF;
    font-size: 50px;
    display: flex;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.exibirLivros {
    width: 100%;
    height: 630px;
    padding-top: 4%;
    transition: transform 1.5s ease;
    overflow: hidden;
    position: relative;
}


.livro {
    width: 300px;
    height: 430px;
    border-radius: 20px;
    margin: 15px;
}

.cardLivro {
    width: 330px;
    height: 460px;
    background-image: linear-gradient(#2fd6cb7a, #4a68df79);
    display: flex;
    flex-direction: column;
    border-radius: 30px;

}


.arrow {
    position: absolute;
    cursor: pointer;
    display: flex;
}

.arrow.right {
    right: 20px;
    padding: 20px 20px;
    transform: translateY(-50%);
    border: 0px solid #4A67DF;
    border-radius: 50%;
    transition: all 1s;
}

.arrow.left {
    left: 20px;
    padding: 20px 20px;
    transform: translateY(-50%);
    border: 0px solid #4A67DF;
    border-radius: 50%;
    transition: all 1s;
}

.arrow.right:hover {
    right: 0;
    padding: 20px 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #2fd6cb3f;
    transition: all 0.5s;
}

.arrow.left:hover {
    left: 0;
    padding: 20px 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #2fd6cb3d;
    transition: all 0.5s;
}


.nomesLivros {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    color: #4A67DF;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    padding-top: 4%;
}

.apenasLivros {
    align-self: start;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-left: 4%;
    transition: transform 1.5s ease;
}

.coracaoVazio {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-left: 1px;
}

.pop-up-perfil {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 1000;
}

.perfil-pop {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    height: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    
}

.cabecarioPerfil{
    display: flex;
    justify-content: center;
}

.fotoPerfil{
    width: 10vw;
    height: 20vh;
    
}
.divFotoPerfil{
    display: flex;
    justify-content: center;
}

.divNomePessoa{
    display: flex;
    justify-content: center;    
}

.divConfig{
    margin-top: 11%;
    background-color: aqua;
}

.divInfoPerfil{
    margin-top: 11%;
}

.divMeusFavoritos{
    margin-top: 4%;
}

.divModo{
    margin-top: 4%;
}
