@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* evita barra de rolagem horizontal */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.cabecario {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.imagemLogo {
    width: 13%;
    height: 11%;
}

.icones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.coracaoFav,
.perfil {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.pesquisar {
    flex: 1;
    display: flex;
    align-items: center;
}

.inputCampo {
    display: flex;
    margin: 0 auto 20px auto;
    width: 200%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 0px;
    border: 3px solid #4b89d3;
    border-radius: 50px;
    font-size: 1.2em;
    color: #000000;
    /* Texto escuro */
    text-shadow: none;
    /* Sem sombra no input */

}

.conteiner {
    width: 100%;
}

main h1 {
    color: #4A67DF;
    font-size: 50px;
    display: flex;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}


.manga {
    width: 90%;
    height: 90%;
    border-radius: 20px;
}

.cardLivro {
    flex: 0 0 22%;
    /* cada card ocupa 1/4 do container aproximadamente */
    height: 400px;
    background-image: linear-gradient(#2FD6CB, #4A67DF);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* DIA 24/10 */
/* FAZENDO CAROUSEL */

.arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.arrow.right {
    right: 10px;
    padding: 20px 20px;
    transform: translateY(-50%);
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    transition: all 1s;
}

.arrow.left {
    left: 10px;
    padding: 20px 20px;
    transform: translateY(-50%);
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    transition: all 1s;
}

.arrow.right:hover {
    right: 0;
    padding: 20px 20px;
    transform: translateY(-50%);
    border: 1px solid #cccccc;
    border-radius: 50%;
    background: #dddddd;
    transition: all 0.5s;
}

.arrow.left:hover {
    left: 0;
    padding: 20px 20px;
    transform: translateY(-50%);
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    background: #dddddd;
    transition: all 0.5s;
}

/* carousel */
.carousel-container {
     position: relative;
    width: 80%;       /* largura do carrossel */
    overflow: hidden; /* esconde cards que saem da tela */
    margin: 0 auto;
}


.exibirLivros {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}