@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
     overflow-x: hidden;
}

.cabecario {
    display: flex;
    justify-content: space-around;
}

.imagemLogo {
    width: 13%;
    height: 11%;
}

.icones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.coracaoFav,
.perfil {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.pesquisar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputCampo {
    width: 130vh;
    padding: 10px 20px;
    border: 2px solid #4A67DF;
    border-radius: 50px;
    font-size: 1.2em;
    color: #4A67DF;
}

.conteiner {
    width: 100%;
    height: 100vh;
}

main h1 {
    font-family: 'Montserrat', sans-serif;
    color: #4A67DF;
    font-size: 50px;
    display: flex;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    /* text-shadow: #000000; */
}

.exibirLivros {
    width: 100%;
    height: 630px;
    padding-top: 4%;
    transition: transform 1.5s ease
    
}

.manga{
    width: 300px;
    height: 430px;
    border-radius: 20px;
    margin: 15px;
}

.cardLivro {
    width: 330px;
    height: 460px;
    background-image: linear-gradient(#2fd6cb7a, #4a68df79);
    display: flex;
    align-items: start;
    justify-content: start;
    border-radius: 30px;
    
} 

.arrow {
    position: absolute;
    top: 60%;
    cursor: pointer;
}
.arrow.right {
    right: 20px;
    padding: 20px 20px;
    transform: translateY(-50%);
    border: 0px solid #4A67DF;
    border-radius: 50%;
    transition: all 1s;
}
.arrow.left {
    left: 20px;
    padding: 20px 20px;
    transform: translateY(-50%);
    border: 0px solid #4A67DF;
    border-radius: 50%;
    transition: all 1s;
}
.arrow.right:hover {
    right: 0;
    padding: 20px 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #2fd6cb3f;
    transition: all 0.5s;
}
    
.arrow.left:hover {
    left: 0;
    padding: 20px 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #2fd6cb3d;
    transition: all 0.5s;
}


.nomesMangas{
    display: flex;
    align-self: end;
    justify-content: space-around;
    color: #4A67DF;
}

.apenasMangas{
    align-self: start;
    display: flex;
    justify-content: space-around;
}