
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.cabecario {
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

.imagemLogo {
    width: 13%;
    height: 11%;
}

.icones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.coracaoFav,
.perfil {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.pesquisar {
    flex: 1;
    display: flex;
    align-items: center;
}

.inputCampo {
    width: 100%;
    max-width: 600px;
    padding: 10px 20px;
    border: 3px solid #4b89d3;
    border-radius: 50px;
    font-size: 1.2em;
    color: #000;
    margin: 0 auto 20px auto;
}

.conteiner {
    width: 100%;
    height: 100vh;

}

main h1 {
    color: #4A67DF;
    font-size: 50px;
    display: flex;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.exibirLivros {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    opacity: 50%;
    
}

.manga{
    width: 330px;
    height: 500px;
    border-radius: 20px;
}
.cardLivro {
    width: 362px;
    height: 524px;
    background-image: linear-gradient(#2FD6CB, #4A67DF);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    
} 

/* copiando style das setas*/
.arrow {
    position: absolute;
    top: 60%;
    cursor: pointer;
}
.arrow.right {
    right: 2px;
    padding: 20px 20px;
    transform: translateY(-50%);
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    transition: all 1s;
}
.arrow.left {
    left: 2px;
    padding: 20px 20px;
    transform: translateY(-50%);
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    transition: all 1s;
}
.arrow.right:hover {
    right: 0;
    padding: 20px 20px;
    transform: translateY(-50%);
    border: 1px solid #cccccc;
    border-radius: 50%;
    background: #dddddd;
    transition: all 0.5s;
}
.arrow.left:hover {
    left: 0;
    padding: 20px 20px;
    transform: translateY(-50%);
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    background: #dddddd;
    transition: all 0.5s;
}