@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


.imagemLogo{
    width: 13%;
    height: 11%;
    position: absolute;
}

.retangulo{
    width: 750px;
    height: 800px;
    background-image: linear-gradient(#2FD6CB, #4A67DF);
    opacity: 80%;
    border-radius: 58px;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.divinha{
    display: flex;
    justify-content: center;
}

.Login{
    color: white;
    font-size: 60px;
    padding-top: 5%;
}

.cadastroUsuario{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 5%;
    gap: 3px;

}

.imput{
    width: 520px;
    height: 55px;
    background-color: white;
    border-radius: 13px;
    
}

.cadastro{
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
    display: flex ;
    justify-content: center;
    align-items: center;
}