@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


.imagemLogo{
    width: 13%;
    height: 11%;
    position: absolute;
}

.iconLogin{
    width: 43%;
    height: 70%;
    margin-top: 10%;
    margin-left: 8%;
}

.conteiner{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}


.retangulo{
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    background-image: linear-gradient(#2FD6CB, #4A67DF);
    opacity: 80%;
    border-radius: 58px;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.divinha{
    display: flex;
    letter-spacing: 5px;
    margin-top: 13%;
    
}
.retangulo p{
    color: rgb(255, 255, 255);
    display: block;        
    font-size: 14px;
    text-align: left;       
    font-weight: bold;  
    letter-spacing: 1px;
    margin-top: -70px;
}
.retangulo a{
     margin-top: -10px;
}
.conteiner label{
    color: rgb(255, 255, 255);
    display: block;        
    text-align: left;       
    font-weight: bold;  
}
.retangulo a{
    color: white;
    font-size: 60px;
    padding-top: 5%;
    text-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.cadastroUsuario{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 5%;
    gap: 3px;
    text-shadow: 0 3px 6px rgba(0,0,0,0.6);
}

.imput{
    width: 520px;
    height: 53px;
    background-color: white;
    border-radius: 13px;
    
}

#btnCadastrar{
    width: 200px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 20px;
    display: flex ;
    justify-content: center;
    align-items: center;
    margin-left: 30%
}

#btnCadastrar{
    margin-top: 6%;
}

.botaoCadastrar{
    color: white;
    font-size: 30px;
}

.retangulo h3{
    display: flex;
    justify-content: start;
}
