.h1Favoritos{
    font-size: 60px;
    color: #4A67DF;
    display: flex;
    justify-content: end;
    padding-right: 16%;
    text-shadow: 0 3px 6px rgba(0,0,0,0.3);
    padding-top: 3%;
}


.retangulo{
    width: 1500px;
    height: 100%;
    background-image: linear-gradient(#2fd6cb6b, #4a68df60);
    border-radius: 30px;
}

.retanguloMain{
    display: flex;
    justify-content: center;
}

.livro{
    width: 200px;
    height: 300px;
    border-radius: 20px;
}

.nomesMangas{
    font-size: 13px;
    display: flex;
    align-self: end;
    justify-content: space-around;
    color: #4A67DF;
    padding-top: 1%;
    padding-left: 95px;
}

.coracaoPreenchido{
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 50%;
}

.apenasMangas{
    align-self: start;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    gap: 150px;
    
}

.exibirLivros{
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cardLivro {
    width: 330px;
    height: 460px; 
    padding-left: 95px;
    transition: transform 0.3s ease;
    opacity: 0;
    animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.cardLivro:hover{
    transform: scale(1.15);
}


.nomesLivros {
    display: flex;
    justify-content: space-between;
    width: 200px;
    color: #4A67DF;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    padding-top: 4%;
    cursor: pointer;
    
}

.coracaoFav2{
    width: 35px;
    height: 35px;
}

.descricaoLivro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 1000px;
    height: 700px;
    border-radius: 15px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    transition: 0.3s ease;
    gap: 10px;
    z-index: 11;
}

.descricao{
    display: flex;
    justify-content: space-around;
}

.h3Descricao{
    color: #4A67DF;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    font-size: 50px;
    display: flex;
    justify-content: start;
    padding-top: 3%;
    padding-left: 5%;
}

.imgDescricao{
    padding-top: 8%;
    border-radius: 20px;
    width: 300px;
    height: 500px;
}

.pDescricaoLivro{
   color: 777676;
   font-family: 'Montserrat', sans-serif;
   text-align: justify;
   letter-spacing: 1px;
   padding: 5%;
   padding-top: 8%;
}

.descricaoLivro.ativa {
    transform: translate(-50%, -50%) scale(1);
}

.botaoReservar{
    background-color: #4A67DF;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}

.estrelaVazia{
    width: 35px;
    height : 35px;
    cursor: pointer;
    margin-top: 12%;
}

.final{
    height: 90px;
    display: flex;
    justify-content: space-around;
    gap: 330px;
}

.osdois{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    padding-right: 2%;
}

.coracao{
    margin-top: 3%;
}

.filtro:hover {
    transform: scale(1.15);
}

.filtro{
    margin-left: 1%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}