#actionButton {
    color: #000;
    padding: 15px 80px;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
    background-color: #ffffff;
    border: none;
}

.button{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
}
