.inputCampo {
    display: block;
    margin: 0 auto 20px auto;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-size: 1.2em;
    color: #000000; /* Texto escuro */
    text-shadow: none; /* Sem sombra no input */
}