@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* html{
    color-scheme: light dark;
} */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}


.cabecario {
    background-color: rgba(255, 255, 255, 0.807);
    display: flex;
    justify-content: space-around;
}

.imagemLogo {
    width: 13%;
    height: 11%;
}

.icones {
    display: flex;
    align-items: center;
    gap: 20px;
}

.coracaoFav,
.perfil {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.perfil:hover {
    transform: scale(1.15);
}

.coracaoFav:hover {
    transform: scale(1.15);
}

.filtro:hover {
    transform: scale(1.15);
}

.filtro{
    margin-left: 1%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.pop-up-filtro {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: start;
    justify-content: center;
    z-index: 1000;
    padding-top: 100px;
    padding-left: 500px;
}

.pop-up-filtro.show {
    display: flex;
}

.filtro-pop {
    background: white;
    padding: 20px;
    border-radius: 10px;
    
    width: 60%;
    height: 20%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    
}


.pesquisar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputCampo {
    width: 100vh;
    padding: 10px 20px;
    border: 2px solid #4A67DF;
    border-radius: 50px;
    font-size: 1.2em;
    color: #4A67DF;
}

.divFotoPerfil{
    display: flex;
    justify-content: center;
}

.divNomePessoa{
    display: flex;
    justify-content: center;    
}

/* .backgroundCor{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;
} */


.conteiner {
    width: 100%;
    height: 100vh;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #4A67DF;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 8%;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#h1Populares{
    padding-top: 3%;
}

.exibirLivros {
    width: 100%;
    height: 670px;
    padding-top: 4%;
    transition: transform 1.5s ease;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: linear-gradient( rgb(255, 255, 255), rgba(47, 214, 203, 0.4), rgba(74, 103, 223, 0.4), rgb(255, 255, 255));

}



.livro {
    width: 300px;
    height: 430px;
    border-radius: 20px;
    margin: 15px;
    cursor: pointer;
}

.cardLivro {
    width: 330px;
    height: 460px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.cardLivro:hover {
    transform: scale(1.15);
}

.arrow {
    position: absolute;
    cursor: pointer;
    display: flex;
    z-index: 2;

}

#setasPopulares{
    display: flex;
    justify-content: space-between;
    bottom: 30%;
}

#setasMangas{
    display: flex;
    justify-content: space-between;
    bottom: -60%;
}

#setasRomance{
    display: flex;
    justify-content: space-between;
    bottom: -155%;
}

#setasComedia{
    display: flex;
    justify-content: space-between;
    bottom: -247%;
}

#setasSuspense{
    display: flex;
    justify-content: space-between;
    bottom: -339%;
}

#setasTerror{
    display: flex;
    justify-content: space-between;
    bottom: -430%;
}


.arrow.right {
    right: 20px;
    padding: 20px 20px;
    transform: translateY(-50%);
    border: 0px solid #4A67DF;
    border-radius: 50%;
    transition: all 1s;
}

.arrow.left {
    left: 20px;
    padding: 20px 20px;
    transform: translateY(-50%);
    border: 0px solid #4A67DF;
    border-radius: 50%;
    transition: all 1s;
}

.arrow.right:hover {
    right: 0;
    padding: 20px 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #ffffff3d;
    transition: all 0.5s;
}

.arrow.left:hover {
    left: 0;
    padding: 20px 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #ffffff3d;
    transition: all 0.5s;
}


.nomesLivros {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    color: #4A67DF;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    padding-top: 4%;
    cursor: pointer;
}

.apenasLivros {
    align-self: start;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-left: 4%;
    transition: transform 1.5s ease;
}

.coracaoVazio {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-left: 1px;
}

/* Descrição 
*/

/* .descricaoFiltro{
        background: rgba(0, 0, 0, 0.5); 
} */

.descricaoLivro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 1000px;
    height: 700px;
    border-radius: 15px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
    transition: 0.3s ease;
    gap: 10px;
    z-index: 11;

}

.descricao{
    display: flex;
    justify-content: space-around;
}

.h3Descricao{
    color: #4A67DF;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    font-size: 50px;
    display: flex;
    justify-content: start;
    padding-top: 3%;
    padding-left: 5%;
}

.imgDescricao{
    padding-top: 8%;
    border-radius: 20px;
    width: 300px;
    height: 500px;

}

.pDescricaoLivro{
   color: black;
   padding-top: 10%;
   margin-right: 50%;
}



.descricaoLivro.ativa {
    transform: translate(-50%, -50%) scale(1);
}

/* TESTE */
/* .trilho {
    width: 100px;
    height: 50px;
    background-color: #555;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 4px;
    transition: background-color .3s ease;
}

.trilho .indicador {
    width: 42px;
    height: 42px;
    background-color: #000;
    border-radius: 50%;
    transition: transform .3s ease, background-color .3s ease;
}

.trilho.dark {
    background-color: #cfcfcf;
}

.trilho.dark .indicador {
    transform: translateX(50px);
    background-color: #fff;
}

body.dark {
    background-color: #000;
    color: #fff;
    transition: background-color .3s ease, color .3s ease;
} */